


.hero{
    display: flex;
    justify-content: space-between;
}

.hero__h1{
    display: block;
}


.nav{
    display: flex;
    gap: 20px;
}

.button{
    padding: 5px 15px;
    border-radius: 15px;
}

.hero__column {
    width: 200px;
}

.hero__circle{
    background-color: rgb(165, 42, 42);
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    left:55%;
    z-index: 2;
}
.hero__little-circle{
    background-color: rgba(165, 42, 42, 0.249);
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        right: 3%;
}

#header__bg-circles1{
    background-color: rgba(42, 165, 46, 0.827);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    z-index: 1;
    transform: translateX(200px) translateY(400px);

    animation: move-circle1 2s infinite linear;

}

@keyframes move-circle1 {
    to {
        transform: translateX(250px) translateY(-30px);
    }
}

#header__bg-circles2 {
    background-color: rgba(42, 165, 46, 0.827);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    position: absolute;
}

#header__bg-circles3 {
    background-color: rgba(42, 165, 46, 0.827);
    width: 208px;
    height: 208px;
    border-radius: 50%;
    position: absolute;
}

.products{
    z-index: 5;
}

/*section gallery*/
