.gallery {
    width: 768px;
    height: 900px;
    align-items: center;
    margin-top: -180px;
    display: flex;
    margin-left: 180px; /*para que se vea  un poco centrado despues toca quitarlo cuando se agregue lo demas*/
   
}

    &__column {
    margin-bottom: 2px;
    margin-right: 2px;
    }

    &__image--1, &__image--2, &__image--3,&__image--,&__image--5, &__image--5, 
    &__image--6, &__image--7, &__image--8, &__image--9, &__image--10 {
    width: 104px;
    height: 105px;
    border-radius: 20px;
    transform-origin: left top;
    }


/* Efecto de lupa */
    &__image:hover {
    transform: scale(1.2); /* Ajusta el valor según el nivel de acercamiento deseado */
    z-index: 1;
    transition: transform 0.3s ease;
    }
