@include screen-480{
    .container{
        width: 320px;
    }
    .header{
        width: 320px;
        margin-bottom: 46px;
        padding-top: 14px;
    }
    .header__icon-close{
        width: 14px;
        height: 14px;
        fill: $color-white;
    }
    .header__button-menu{
        display: flex;
        margin: 60px auto 19px;
        gap: 15px;
        padding: 3px 48px;
        height: 44px;
        border-radius: 25px;
        color: $color-text-red;
        align-items: center;
        font-family: 'DM Sans';
        font-weight: 700;
        line-height: 21px;
    }
    
    nav{
        display: none;
    }
    .header__button{
        display: none;
    }

    .menu-toggle {
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    .menu-container {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 0 40px;
        background-color: #E17992;
        z-index: 999;
        overflow-y: auto;
        transform: translateX(90%);
        transition: transform 250ms ease-in-out;
    }
    
    .menu-container.is-open {
        transform: translateX(0);
    }
    
    .menu-container .menu-toggle {
        position: absolute;
        top: 21px;
        right: 25px;
    }
    
    .mobile-menu {
        padding: 0;
        margin-top: 8px;
        list-style: none;
    }
    
    .mobile-menu__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        display: block;
        padding: 13px 0;
        text-decoration: none;
        border: 1px solid #E18298;
        color: $color-white;
    }
    .mobile-menu__link:focus,
    .mobile-menu__link:hover {
        color: $color-text-red;
    } 
}

@include screen-768{
    .header{
        width: 100%;
        padding-bottom:0;
    }
        .header__icon-close {
            width: 14px;
            height: 14px;
            fill: $color-white;
        }
    .header__button-menu {
        display: flex;
        margin: 60px 50px 19px;
        gap: 15px;
        padding: 3px 48px;
        height: 44px;
        border-radius: 25px;
        color: $color-text-red;
        align-items: center;
        font-family: 'DM Sans';
        font-weight: 700;
        line-height: 21px;
        }
    .menu-container{
        transform: translateX(30%);
    }
    .menu-toggle {
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        position: absolute;
        right: 200px;
        top: 50px;
    }
    nav{
        display: none;
    }
    
    .menu-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px;
        background-color: #E17992;
        z-index: 999;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
    
    .menu-container.is-open {
        transform: translateX(0);
    }
    
    .menu-container .menu-toggle {
        position: absolute;
        top: 21px;
        right: 25px;
    }
    
    .mobile-menu {
        padding: 0;
        margin-top: 0;
        list-style: none;
    }
    
    .mobile-menu__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        display: block;
        padding: 13px 0;
        text-decoration: none;
        border: 1px solid #E18298;
        color: $color-white;
    }
    .mobile-menu__link:focus,
    .mobile-menu__link:hover {
        color: $color-text-red;
    } 
}

@include screen-1200 {
    .menu-container {
        display: none;
    }
    
}