.hero {
    display: flex;
    justify-content: space-between;
}

.hero__h1 {
    display: block;
}

.hero__column {
    width: 200px;
}

.hero__circle {
    background-color:#FFA5BA;
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    left: 55%;
    z-index: 2;
}

.hero__little-circle {
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    right: 3%;
}