.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    &__h1 {
        display: block;
        font-family: 'Titan One';
        font-size: 38px;
        line-height: 44px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $color-white;
    }
    &__h1-red{
        color: $color-text-red;
        font-size: 58px;
        line-height: 50px;
    }
    
    &__column {
        width: 534px;
        z-index: 10;
    }
    
    &__button{
        border-radius: 20px;
        padding: 11px 22px;
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 18px;
        background-color: $color-white;
        color: $color-text-red;
        margin-top: 24px;
    }
    &__button:hover{
        background-color: #ECEBEB;
        transform: translateY(-5px);
    }
    &__button-red{
        background-color: $color-text-red;
        color: $color-white;
    }
    &__button-red:hover{
        background-color: $color-button-hover;
    }
    
    &__jug-text{
        display: flex;
        margin-top: 40px;
    }
    &__jug{
        width: 213px;
        height: 216px;
    }
    &__text{
        margin-top: 60px;
        width: 200px;
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 140%;
        color: $color-white;
    }
    &__svg{
        display: flex;
        justify-content: center;
        background-color: #fff;
        width: 26px;
        height: 26px;
        border-radius: 25px;
        margin-top: 20px;
    }
    &__icon-svg{
        width: 10px;
        fill: $color-text-red;
    }
    &__img{
        margin-left: 45%;
    }
    
    &__img-women{
        position: relative;
        margin-top: 95px;
        z-index: 10;

    }
    &__numbers{
        margin-left: 194px;
        width: 92px;
        margin-top: 38px;
        text-align: right;
        position: relative;
    }
    &__number{
        font-family: 'Titan One';
        font-size: 46px;
        line-height: 53px;
        letter-spacing: 0.04em;
        color: $color-text-red;
        position: relative;
        z-index: 1;
    }
    &__sales{
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $color-white;
        margin-top: 2px;
    }

    &__little-circle {
        background-color: #fff;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        position: absolute;
        top: -12px;
        right: -20px;
    }
}

@include screen-480{
    .hero {
        width: 320px;
        display: block;
        
        &__h1{
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            position: relative;
            z-index: 6;
        }
        &__column{
            width: 100%;
        }
    
        &__button{
            position: relative;
            z-index: 6;
            font-size: 8px;
                line-height: 10px;
        }
        &__jug-text,
        &__numbers,
        &__img-women{
            display: none;
        }
        &__img{
            width: 171px;
            height: 410px;
            margin-left: 39%;
            position: relative;
            z-index: 4;
            top: -257px;
        }
    }
    
}

@include screen-768 {
    .hero {
        width: 768px;

        &__h1 {
            font-size: 22px;
            line-height: 25.19px;
        }
        &__h1-red{
            font-size: 34px;
            line-height: 30.77px;
        }

        &__column {
            width: 100%;
        }

        &__button {
            font-size: 8px;
            line-height: 10px;
            margin-top: 4px;
        }

        &__img {
            width: 143px;
            height: 336px;
            margin-left: 9%;
            top: 80px;
            position: absolute;
        }
        &__jug-text{
            margin-top: 0;
        }
        &__jug{
            width: 152px;
            height: 154px;
        }
        &__text{
            margin-top: 30px;
            width: 114px;
            font-family: 'DM Sans';
            font-size: 8px;
            line-height: 12px;
            
        }
        &__numbers{
            margin-left: 234px;
            width: 51px;
            margin-top: 38px;
            text-align: right;
            position: relative;
        }
        &__number{
            font-size: 28px;
            line-height: 32.06px;
        }
        &__sales{
            font-size: 8px;
            line-height: 10.42px;
        }

        &__little-circle {
            width: 16px;
            height: 16px;
            top: -4px;
            right: -10px;
        }
         &__img-women{
            margin-top: 10px;
            right: -69px;
            width: 190px;
            height: 150px;
            bottom: 0;
        }
    }

}