.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    &__h1 {
        display: block;
        font-family: 'Titan One';
        font-size: 38px;
        line-height: 44px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $color-white;
    }
    &__h1-red{
        color: $color-text-red;
        font-size: 58px;
        line-height: 50px;
    }
    
    &__column {
        width: 534px;
        z-index: 2;
    }
    
    &__circle {
        background-color:#FFA5BA;
        position: absolute;
        width: 534px;
        height: 534px;
        border-radius: 50%;
        left: 44%;
        bottom: 12%;
        z-index: 1;
    }
    
    &__little-circle {
        background-color: #fff;
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        right: 3%;
    }
    &__button{
        border-radius: 20px;
        padding: 11px 22px;
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 18px;
        background-color: $color-white;
        color: $color-text-red;
        margin-top: 24px;
    }
    &__button:hover{
        background-color: #ECEBEB;
    }
    &__button-red{
        background-color: $color-text-red;
        color: $color-white;
    }
     &__button-red:hover{
        background-color: $color-button-hover;
    }

    &__jug-text{
        display: flex;
        margin-top: 40px;
    }
    &__text{
        margin-top: 60px;
        width: 200px;
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 140%;
        color: $color-white;
    }
    &__svg{
        display: flex;
        justify-content: center;
        background-color: #fff;
        width: 26px;
        height: 26px;
        border-radius: 25px;
        margin-top: 20px;
    }
    &__icon-svg{
        width: 10px;
        fill: $color-text-red;
    }
    &__img{
        margin-left: 10%;
    }
}
