
$color-text-pink: #FFA5BA;
$color-white: #FFFFFF;
$color-text-red: #D41443;
$color-text-black: #000000;
$color-text-gray: #907E82;
$color-background-white: #ffffff;
$color-background-gray: #FAFAFA;
$color-background-pink: #FFB8CA;
$color-background-pink2: #FFF5F6;
$color-button-hover:#D41342;